body {
    background-color: #0a0725;
    height: 100vh;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

input {
    padding: 5px 20px;
    width: 80px;
    border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}